{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Posts{% endblock %}
{% block content %}

    <div id="post_form_div">
        <form method="POST" id="post_form" enctype="multipart/form-data">
            {{post_form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Create post" id=submit_post>
        </form>
    </div>

    <div id=posts>
        {% for post in posts %}
            <div class="post" data-postid="{{post.pk}}">
                {% with author=post.author %}
                <div class="post_pp_div">
                    {% if author.profile.profile_photo %}
                        <img class="post_pp" src="{{ author.profile.profile_photo|thumbnail_url:'post_pp' }}">
                    {% else %}
                        <img class="post_pp" src="{% static 'default_img/profile_def.png' %}">
                    {% endif %}
                </div>

                <div class="post_author_name">
                    {{author.first_name}} {{author.last_name}}
                </div>

                <div class="post_date">
                    {{ post.creation_date|date:"d-m-Y"}}
                </div>

                <div class="post_text">
                    {{post.text|linebreaks}}
                </div>

                {% if post.photo %}
                    <div class="post_photo_div">
                        <img class="post_photo" src="{{ post.photo|thumbnail_url:'post_photo' }}">
                    </div>
                {% endif %}

                <div class="post_likes">
                    {% with likes=post.likes.count %}
                    <span class="likes_count"> {{likes}} </span>
                    <span class="likes_description"> likes </span>
                    {% endwith %}
                </div>

                <div class="like_form_div">
                    <form id="like_form" method="POST" data-postid="{{post.pk}}">
                        {% csrf_token %}
                        {% if request.user in post.likes.all %}
                            <p><input class="like_button" type="submit" value="Unlike"></p>
                        {% else %}
                            <p><input class="like_button" type="submit" value="Like"></p>
                        {% endif %}
                    </form>
                </div>

                <div class="go_to_post_detail">
                    <a href="{% url 'site:post_detail' id=post.pk %}"> Post discussion </a>
                </div>

                {% endwith %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{%block domready%}

function post_liked(event){
    event.preventDefault();
    var post_pk = event.target.getAttribute('data-postid');
    console.log(post_pk);
    const url = '{% url "site:post_like" %}'
    console.log(url);
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    var formData = new FormData();
    formData.append('id', post_pk)
    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] == 'ok'){
            var post_div = document.querySelector('div[class="post"][data-postid="'+CSS.escape(post_pk)+'"]');
            var likes_count_span = post_div.querySelector('span[class="likes_count"]');
            var like_button = post_div.querySelector('input[class="like_button"]');

            if (data['action'] == 'liked'){
                var likes_count = parseInt(likes_count_span.innerHTML);
                likes_count_span.innerHTML = likes_count + 1;
                like_button.setAttribute("value", "Unlike")
            } else{
                var likes_count = parseInt(likes_count_span.innerHTML);
                likes_count_span.innerHTML = likes_count - 1;
                like_button.setAttribute("value", "Like")
            }
        }
    }
    )
}

document.querySelectorAll('#like_form').forEach(element => element.addEventListener('submit', post_liked));

document.querySelector('#post_form').addEventListener('submit', function(event){
    event.preventDefault();

    const url = '{% url "site:post_create" %}';
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    var post_text = document.querySelector('#post_text');
    var post_photo = document.querySelector('#post_photo');

    var formData = new FormData();
    formData.append('text', post_text.value);
    if (post_photo.files.length > 0){
        formData.append('post_photo', post_photo.files[0]);
    }

    var posts_div = document.querySelector('#posts');

    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] === 'ok'){
            // clear file input
            var newInput = document.createElement("input");

            newInput.type = "file";
            newInput.id = post_photo.id;
            newInput.name = post_photo.name;
            newInput.accept = "image/*";

            post_photo.parentNode.replaceChild(newInput, post_photo);

            // clear text input
            post_text.value = "";

            var new_post = data['post'];

            // add created post to post feed
            posts_div.innerHTML = new_post + posts_div.innerHTML;
            document.querySelector('#like_form').addEventListener('submit', post_liked);
        }
    }
    )

});


{% endblock %}