{% extends 'base.html' %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block content %}

    <div id="post_form_div">
        <form method="POST" id="post_form" enctype="multipart/form-data">
            {{post_form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Create post" id=submit_post>
        </form>
    </div>

    <div id=posts>
        {% for post in posts %}
            {{post.render}}
        {% endfor %}
    </div>

{% endblock %}

{%block domready%}

document.querySelector('#post_form').addEventListener('submit', function(event){
    event.preventDefault();

    const url = '{% url "site:post_create" %}';
    var options = {
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        mode: 'same-origin'
    }
    var post_text = document.querySelector('#post_text');
    var post_photo = document.querySelector('#post_photo');

    var formData = new FormData();
    formData.append('text', post_text.value);
    if (post_photo.files.length > 0){
        formData.append('post_photo', post_photo.files[0]);
    }

    var posts_div = document.querySelector('#posts');

    options['body'] = formData;

    // send HTTP request
    fetch(url, options)
    .then(response => response.json())
    .then(data => {
        if (data['status'] === 'ok'){
            // clear file input
            var newInput = document.createElement("input");

            newInput.type = "file";
            newInput.id = post_photo.id;
            newInput.name = post_photo.name;
            newInput.accept = "image/*";

            post_photo.parentNode.replaceChild(newInput, post_photo);

            // clear text input
            post_text.value = "";

            // add created post to post feed
            posts_div.innerHTML = data['post'] + posts_div.innerHTML;
        }
    }
    )

});



{% endblock %}