{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}Search for users{% endblock %}
{% block content %}

    <div class="search_form">
        <form action="{% url 'site:users_search' %}" method="post">
            {{form.as_p}}
            {% csrf_token %}
            <p><input type="submit" value="Search"></p>
        </form>
    </div>

    <div class="users_found_wrapper">
        {% for user in users_found %}
            <div class='user_found'>
                <div class="user_found_photo_wrapper">
                    {% if user.profile.profile_photo %}
                        <img class="user_found_photo" src="{{user.profile.profile_photo|thumbnail_url:'friend_pp'}}">
                    {% else %}
                        <img class="user_found_photo" src="{% static 'default_img/profile_def.png' %}">
                    {% endif %}
                </div>

                <div class="user_found_name">
                    <a href="{% url 'site:user_detail' id=user.pk %}"> {{user.first_name}} {{user.last_name}} </a>
                </div>
            </div>

        {% empty %}
            {% if form_sent_correctly %}
                <h1>No users found</h1>
            {% endif %}
        {% endfor %}

    </div>


{% endblock %}