{% extends "base.html" %}
{% load static %}
{% block title %}User details{% endblock %}
{% block content %}

<div class="profile_container">
    <div class="cover_photo_div">
        {% if user_profile.profile.cover_photo %}
            <img class="cover_photo" src="{{user_profile.profile.cover_photo.url}}">
        {% else %}
            <img class="cover_photo" src="{% static 'default_img/cover_def.png' %}">
        {% endif %}
    </div>

    <div class="profile_details_wrapper">
        <div class="profile_photo_div">
            {% if user_profile.profile.profile_photo %}
                <img class="profile_photo" src="{{user_profile.profile.profile_photo.url}}">
            {% else %}
                <img class="profile_photo" src="{% static 'default_img/profile_def.png' %}">
            {% endif %}
        </div>

        <div class="personal_details">
            {{ user_profile.first_name }} {{ user_profile.last_name }}
        </div>

        {% if friendship_status != 'your_profile' %}
        <div class="friendship_status">
            {% if friendship_status == 'friends' %}
                <form action="{% url 'site:profile_friendship_delete' id=user_profile.pk %}" method="post">
                    {% csrf_token %}
                    <p><input type="submit" value="Delete from friends"></p>
                </form>
            {% elif friendship_status == 'you_sent'%}
                <form action="{% url 'site:profile_friendship_withdraw' id=user_profile.pk %}" method="post">
                    {% csrf_token %}
                    <p><input type="submit" value="Withdraw friendship invitation"></p>
                </form>
            {% elif friendship_status == 'sent_to_you' %}
                <form action="{% url 'site:profile_friendship_accept' id=user_profile.pk %}" method="post">
                    {% csrf_token %}
                    <p><input type="submit" value="Accept friendship invitation"></p>
                </form>

                <form action="{% url 'site:profile_friendship_decline' id=user_profile.pk %}" method="post">
                    {% csrf_token %}
                    <p><input type="submit" value="Decline friendship invitation"></p>
                </form>
            {% else %}
                <form action="{% url 'site:profile_friendship_send' id=user_profile.pk %}" method="post">
                    {% csrf_token %}
                    <p><input type="submit" value="Invite to friends"></p>
                </form>
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}