{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}Friends{% endblock %}
{% block content %}

<div class="friends_list">
    {% for friend in friends %}
        <div class="friend_container">
            <div class="friend_profile_photo_wrapper">
                {% if friend.profile.profile_photo %}
                    <img class="friend_profile_photo" src="{{friend.profile.profile_photo|thumbnail_url:'friend_pp'}}">
                {% else %}
                    <img class="friend_profile_photo" src="{% static 'default_img/profile_def.png' %}">
                {% endif %}
            </div>

            <div class="friend_name">
                <a href="{% url 'site:user_detail' id=friend.pk %}"> {{friend.first_name}} {{friend.last_name}} </a>
            </div>

            <div class="delete_friend">
                <form action="{% url 'site:friends_list_delete' id=friend.pk %}" method="post">
                    {% csrf_token %}
                    <p><input type="submit" value="Delete from friends"></p>
                </form>
            </div>

        </div>
    {% empty %}
        You have no friends yet.
    {% endfor %}
</div>


{% endblock %}