{% load thumbnail %}
{% load static %}
{% load get_chat_name %}
{% load get_chat_type %}
{% load get_chat_image %}

<div id="chat_header">
    <div id="chat_header_image_div">
        <img id="chat_header_image" src="{% get_chat_image chat request.user %}">
    </div>

    <div id=chat_name>
        {% get_chat_name chat request.user %}
    </div>

    {% get_chat_type chat as chat_type %}
    {% if chat_type == 'group_chat' %}
        <div id="chat_info">
            <button type="button" id="chat_info_button">Chat info</button>
        </div>

        {% if user_role == 'admin' or user_role == 'owner' %}
            <div id="add_user">
                <button type="button" id="add_users_button">Add users</button>
            </div>

            <div id="manage_chat">
                <button type="button" id="manage_chat_button">Manage chat</button>
            </div>
        {% endif %}

        {% if request.user == chat.owner %}
            <div id="leave_chat"title="You have to transfer ownership before you can leave chat">
                <button type="button" id="leave_chat_button" disabled>
                    Leave chat
                </button>
            </div>
        {% else %}
            <div id="leave_chat">
                <button type="button" id="leave_chat_button">
                    Leave chat
                </button>
            </div>
        {% endif %}

    {% endif %}

</div>

<div id="chosen_chat_content_wrapper">
    <div id="chat_messages">
        {% for message in messages %}
            {% include 'chat/message.html' with message=message %}
        {% endfor %}
    </div>

    <div id="chat_input">
        <form id="message_form">
            <textarea id="message_input"></textarea>
            <input type="submit" value="Send">
        </form>
    </div>
</div>