/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
} */

#group_chat_info_wrapper {
    /* padding: 20px; */
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    /* max-width: 50vw; */
    /* border: 1px solid #ccc; */
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 20px;
    /* overflow-y: auto; */
    background-color: #e5ddd5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    /* height: 100%; */
}

#information_content{
    width: 50%;
}

#return_to_messages{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 20px;
}

#return_to_messages_button{
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#return_to_messages_button:hover {
    background-color: #777c81;
}

#group_image_name_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#group_chat_image {
    margin-right: 15px;
}

#group_chat_image .chat_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#group_chat_name {
    font-size: 48px;
    font-weight: bold;
    color: #333;
}


#chat_owner, #chat_admins, #rest_participants {
    margin-bottom: 20px;
}

#chat_owner_label, #chat_admins_label, #rest_participants_label {
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
    font-size: 24px;
}

#chat_owner_div, #chat_admins_wrapper, #rest_participants_list {
    /* background-color: #f9f9f9; */
    padding: 10px;
    border-radius: 5px;
}



#chat_admins {
    float:left;
}

#rest_participants {
    float: right;
}

#chat_admins_wrapper, #rest_participants_list{
    max-height: 400px;
    overflow-y: auto;
}

.chat_user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.chat_user_image {
    margin-right: 10px;
}

.chat_user_pp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat_user_name a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.chat_user_name a:hover {
    text-decoration: underline;
}

.participant_div {
    margin-bottom: 10px;
}

.admins_participants_wrapper{
    overflow: hidden;
}