{% extends "site/settings/show_settings.html" %}
{% load static %}
{% load thumbnail %}

{% block settings_content %}
    <link href="{% static "css/change_settings.css" %}" rel="stylesheet">

    <div class="change_settings_content_wrapper">
        <div class="change_settings_form_wrapper">
            <form method="post" action="{% url 'site:change_password' %}" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="element_form">
                    <div class=element_label>
                        Old password:
                    </div>
                    <div class="element_input">
                        {{form.old_password}}
                    </div>
                    <div class="element_error">
                        {{form.old_password.errors}}
                    </div>
                </div>

                <div class="element_form">
                    <div class=element_label>
                        New password:
                    </div>
                    <div class="element_input">
                        {{form.new_password1}}
                    </div>
                    <div class="element_error">
                        {{form.new_password1.errors}}
                    </div>
                </div>

                <div class="element_form">
                    <div class=element_label>
                        New password confirmation:
                    </div>
                    <div class="element_input">
                        {{form.new_password2}}
                    </div>
                    <div class="element_error">
                        {{form.new_password2.errors}}
                    </div>
                </div>

                <div class="form_non_field_errors">
                    <ul class="non_field_error_list">
                        {% if form.non_field_errors %}
                            <li>{{ form.non_field_errors }}</li>
                        {% endif %}
                    </ul>
                </div>

                <div class="submit_wrapper">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}