body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#header {
    background-color: #333;
    color: #fff;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: sticky;
    top: 0;
    z-index: 999; */
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    /* margin-bottom: 20px; */
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#top_menu{
    margin-top: auto;
    margin-bottom: auto;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.logout form {
    margin: 0;
}

.logout button {
    color: #fff;
    background-color: #555;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout button:hover {
    background-color: #777c81
}

#content {
    /* margin: 20px; */
    height: calc(100% - 50px);
    overflow-y: auto;
}

h1 {
    text-align: center;
}

/* LOGIN */

.login_form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .login_form p {
    margin-bottom: 15px;
  }

  .login_form label {
    display: block;
    margin-bottom: 5px;
  }

  .login_form input[type="text"],
  .login_form input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .login_form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .login_form input[type="submit"]:hover {
    background-color: #0056b3;
  }

  #register_link_span {
    display: block;
    text-align: center;
    margin-top: 10px;
  }

  #register_link {
    color: #007bff;
    text-decoration: none;
  }

  #register_link:hover {
    text-decoration: underline;
  }





/* PROFILE */
.profile_container {
    width: 1400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
}

.cover_photo_div {
    overflow: hidden;
    width: 100%;
}

.cover_photo {
    width: 1400px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile_photo_div {
    float: left;
}

.profile_photo {
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.personal_details {
    width: 100%;
    float: right;
    text-align: left;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 5%;

}

.profile_details_wrapper {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.friendship_status{
    display: flex;
    margin: auto;
    height: 100%;
    margin-right: 50px;
}

#freindship_action_submit{
    background-color: #555; /* Adjust as needed */
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
}

#freindship_action_submit:hover{
    background-color: #777c81;
}


/* POSTS FEED*/
#posts {
    margin: 20px auto;
    width:  1400px;
    align-items: center;
}

#post_form_div {
    margin: 20px auto;
    width: 1200px;
    align-items: center;
}

#submit_post {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 22px;
    cursor: pointer;
    width: 80%;
    margin: auto;
    display: flex;
}

#submit_post:hover {
    background-color: #777c81;
}

#post_text {
    width: 100%;
    resize: none;
}

/* Individual post styling */
.post {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
}

/* Style for the like count */
.post_likes, .comment_likes {
    font-size: 16px;
    color: #5a81b4;
    margin-bottom: 5px;
    display: inline-block; /* Ensures the like count stays on the same line */
}

/* Profile picture */
.post_pp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Author name */
.post_author_name {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Post date */
.post_date {
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
}

/* Post text */
.post_text {
    margin-bottom: 10px;
}

/* Post photo */
.post_photo {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

/* Like button */
.like_button {
    background-color: #4267B2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.like_button:hover {
    background-color: #2a4b8d;
}

/* Post discussion link */
.go_to_post_detail a {
    color: #385898;
    text-decoration: none;
}

.go_to_post_detail a:hover {
    text-decoration: underline;
}

.pagination {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.step-links {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 15px 20px;
  border-radius: 5px;
}

.step-links a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.step-links a:hover {
  text-decoration: underline;
}

.current {
  font-weight: bold;
}



/* POST DETAIL */
/* Styles for the comment container */
.post_with_comments {
    width: 1400px;
    margin: auto;
    border: 3px solid #ddd;
}

#post_no_auth_div{
    width: 1400px;
    margin: auto;
    border: 3px solid #ddd;
    text-align: center;
}

.comment_container {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    border: 1px solid #ddd; /* Border around the comment */
    padding: 10px; /* Padding inside the comment */
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* Styles for the profile picture container */
.comment_pp_div {
    margin-bottom: 10px; /* Spacing between profile picture and name */
}

/* Styles for the profile picture */
.comment_pp {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%; /* Ensures the profile picture is round */
}

/* Styles for the author's name */
.comment_author_name {
    font-weight: bold;
}

/* Styles for the comment date */
.comment_date {
    color: #777; /* Adjust the color as needed */
    font-size: 0.8em; /* Adjust the font size as needed */
    margin-bottom: 5px;
}

/* Styles for the comment text */
#comment_text {
    text-align: left; /* Align text to the left */
    width: 50%;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit_comment {
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #555;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

#submit_comment:hover {
    background-color: #777c81;
}

.comment_form_container{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ddd;
    padding: 10px;
}

#no_comments{
    text-align: center;
    margin: 20px;
}



/* REGISTRATION */
.registration_form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .registration_form label {
    display: block;
    margin-bottom: 5px;
  }

  .registration_form input[type="text"],
  .registration_form input[type="email"],
  .registration_form input[type="password"],
  .registration_form input[type="date"],
  .registration_form input[type="file"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .registration_form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .registration_form input[type="submit"]:hover {
    background-color: #0056b3;
  }



  /* INVITATIONS SENT */
  .recipient_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .recipient_profile_photo_wrapper {
    margin-right: 10px;
  }

  .user_profile_photo {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
  }

  .recipient_name {
    margin-right: 10px;
  }

  .recipient_name a {
    color: #333;
    text-decoration: none;
  }

  .recipient_name a:hover {
    text-decoration: underline;
  }

  .withdraw_invitation_container p {
    margin: 0;
  }

  .withdraw_invitation_container input[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .withdraw_invitation_container input[type="submit"]:hover {
    background-color: #777c81
  }


/* FRIENDS LIST */
.friend_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .friend_profile_photo_wrapper {
    margin-right: 10px;
  }

  .friend_profile_photo {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
  }

  .friend_name {
    margin-right: 10px;
  }

  .friend_name a {
    color: #333;
    text-decoration: none;
  }

  .friend_name a:hover {
    text-decoration: underline;
  }

  .delete_friend p {
    margin: 0;
  }

  .delete_friend input[type="submit"] {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .delete_friend input[type="submit"]:hover {
    background-color: #777c81; /* Adjust as needed */
  }



  /* INVITATIONS RECEIVED */
  .sender_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .sender_profile_photo_wrapper {
    margin-right: 10px;
  }

  .user_profile_photo {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
  }

  .sender_name {
    margin-right: 10px;
  }

  .sender_name a {
    color: #333;
    text-decoration: none;
  }

  .sender_name a:hover {
    text-decoration: underline;
  }

  .accept_invitation_container p,
  .decline_invitation_container p {
    margin: 0;
  }

  .accept_invitation_container input[type="submit"],
  .decline_invitation_container input[type="submit"] {
    background-color: #555; /* Adjust as needed */
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
  }

  .accept_invitation_container input[type="submit"]:hover,
  .decline_invitation_container input[type="submit"]:hover {
    background-color: #777c81; /* Adjust as needed */
  }



  /* USERS LIST */
  .search_form {
    width: 60%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .search_form p {
    margin-bottom: 15px;
  }

  .search_form label {
    display: block;
    margin-bottom: 5px;
    color: #495057;
    font-weight: bold;
  }

  .search_form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .search_form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
  }

  .search_form input[type="submit"]:hover {
    background-color: #777c81;
  }

  .users_found_wrapper {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust as needed */
    margin-top: 20px;
    margin: auto;
  }

  .user_found {
    width: 200px;
    margin-bottom: 20px;
    text-align: center;
  }

  .user_found_photo_wrapper {
    margin-bottom: 10px;
  }

  .user_found_photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .user_found_name a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }

  .user_found_name a:hover {
    text-decoration: underline;
  }


