{% extends "base.html" %}
{% load static %}

{% block content %}
<link href="{% static "css/password_reset.css" %}" rel="stylesheet">

<div id="password_reset_confirm_container">
    <h1>Password reset</h1>

    {% if validlink %}
        <p>Enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Set new password">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

</div>

{% endblock content %}