{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}{%endblock%}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>

    <body>

        <div id="header">
            <span class="logo">
                <a href="{% url 'site:posts_feed'%}">
                    Jarbuk
                </a>

            </span>
            {% if request.user.is_authenticated %}
                <div id='top_menu'>
                    <ul class="menu">
                    <li>
                        <a href="{% url 'site:posts_feed'%}">Posts</a>
                    </li>

                    <li>
                        <a href="{% url 'site:users_search'%}">Search for users</a>
                    </li>

                    <li>
                        <a href="{% url 'site:friends_list'%}">Friends</a>
                    </li>

                    <li>
                        <a href="{% url 'site:invitations_received'%}">Invitations received</a>
                    </li>

                    <li>
                        <a href="{% url 'site:invitations_sent'%}">Invitations sent</a>
                    </li>

                    <li>
                        <a href="{% url 'site:user_detail' id=request.user.pk%}">My profile</a>
                    </li>

                    <li>
                        <a href="{% url 'chat:list_chats' %}">Chat</a>
                    </li>

                    <li>
                        <a href="{% url 'site:edit_profile' %}">Settings</a>
                    </li>
                </div>

                <span class="logout">
                    <form method="post" action="{% url 'site:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>

                </span>
            {% endif %}
        </div>

        <div id="content">
            {% block content %} {% endblock %}
        </div>


        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // DOM loaded
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                const csrftoken = getCookie('csrftoken');

                {% block domready %}
                {% endblock %}
            })
        </script>

    </body>
</html>


