{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>{%block title%}{%endblock%}</title>
        <link href="{% static "css/base.css" %}" rel="stylesheet">
    </head>

    <body>

        <div id="header">
            <span class="logo">
                <a href="{% url 'site:posts_feed'%}">
                    Jarbuk
                </a>

            </span>
            {% if request.user.is_authenticated %}
                <!-- TODO make menu item for logged users (profile, chat etc.) -->
                <ul class="menu">
                <li>
                    <a href="{% url 'site:posts_feed'%}">Posts</a>
                </li>

                <li>
                    <a href="{% url 'site:users_search'%}">Search for users</a>
                </li>

                <span class="logout">
                    <form method="post" action="{% url 'site:logout' %}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>

                </span>
            {% endif %}
        </div>

        <div id="content">
            {% block content %} {% endblock %}
        </div>

    </body>
</html>


